<div class="text-center">
    <img class="d-block mx-auto mb-4" src="../../assets/itau.png" alt="" width="72" height="72">
    <h2>Desafio Itaú Unibanco</h2>
    <hr class="mb-4">

    <p class="lead text-left" style="margin-left: 2%; margin-right: 2%;">
        Nesta aplicação você pode: 
    </p>
    <div class="lead text-left" style="margin-left: 2%; margin-right: 2%;">
        <ul>
        <li>No Menu <b>Parametrização</b>: Consultar e Parametrizar o segmento do cliente.</li>    
        <li>No Menu <b>Cotação</b>: Realizar a cotação da compra de moeda estrangeira.</li>    
    </ul>
    </div>
        <br>
        <p class="lead text-left" style="margin-left: 2%; margin-right: 2%;">
        A formula calcular o valor total da conversão da moeda estrangeira para Real é a seguinte:</p>



        <div style="margin-left: 30%;">

            <p class="text-left h5">
                α = (β * γ) * (1 + ϕ)
                <br><br>
                Onde:<br>
                α = valor em Reais<br>
                β = quantidade desejada da moeda estrangeira<br>
                γ = taxa de conversão da moeda estrangeira para Real<br>
                ϕ = taxa parametrizada por segmento
            </p>
        </div>


    </div>